    <div align="center">
        <h4>
            <label>
                Clicks: @Model.ClickCount
            </label>
        </h4>
    </div><br/><br/>

    <table>
        @for (var y = 0; y < Model.Rows; y++)
        {
            <tr>
                @for (var x = 0; x < Model.Cols; x++)
                {
                    <td>
                        @if (Model.Cells[x, y].Visited)
                        {
                            if (Model.Cells[x, y].Live)
                            {
                                <div style="color:black; font-size:20px;">
                                    <img src="~/Content/Images/mine.png" />
                                </div>
                            }
                            else
                            {
                                if (Model.Cells[x, y].LiveNeighbors > 0)
                                {
                                    switch (Model.Cells[x, y].LiveNeighbors)
                                    {
                                        case 1:
                                            @:<font color="blue">@Model.Cells[x, y].LiveNeighbors</font>
                                            break;
                                        case 2:
                                            @:<font color="green">@Model.Cells[x, y].LiveNeighbors</font>
                                            break;
                                        case 3:
                                            @:<font color="red">@Model.Cells[x, y].LiveNeighbors</font>
                                            break;
                                        default:
                                            @:<font color="purple">@Model.Cells[x, y].LiveNeighbors</font>
                                            break;
                                    }
                                }
                            }
                        }
                        else
                        {
                            using (Ajax.BeginForm("ActivateCell", "Game", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "gameboard" }))
                            {
                                <input type="hidden" id="id" name="id" value=@Model.Cells[x, y].Id>
                                <input type="hidden" id="x" name="x" value=@Model.Cells[x, y].X>
                                <input type="hidden" id="y" name="y" value=@Model.Cells[x, y].Y>

                                <input type="image" id="play" name="submit" src="~/Content/Images/b.png" style="width:32px;height:32px;display:block;" border="0" alt="Submit" />
                            }


                        }
                    </td>
                }
            </tr>
        }
    </table>
    <br />
